.bg-box {
  background: url("./img/pole-zelen-trava-dom-derevya.webp") no-repeat center,
    url("./img/lamp.webp") repeat-x top / 3%,
    url("./img/grass.webp") repeat-x bottom / 15%,
    url("./img/hedgehog.webp") repeat-y left / 2%,
    url("./img/donut.webp") repeat-y right / 3%;
  background-color: green;
  height: 940px;
}
